.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgba(255, 255, 255, 0.98);
  padding: 1rem;
  border-radius: 4px;
  width: 23rem;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.modal h2 {
  margin-top: 0;
  color: #333;
}

.modal p {
  margin-top: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-size: 0.7rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;

  margin-top: 2rem;
}

.createAccountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(72, 145, 30);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.5rem;
  height: 40px;
  width: 160px;
  transition: all 0.2s;
}

.createAccountButton:hover {
  background-color: rgb(57, 143, 8);

}

.alreadyHaveAccountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(18, 75, 102);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.5rem;
  height: 40px;
  width: 160px;
  margin-left: 1rem;
  transition: all 0.2s;
}

.alreadyHaveAccountButton:hover {
  background-color: rgb(3, 64, 92);

}

.whatsappButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  background-color: #25d366;
  color: white;
  border: none;
  font-size: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  height: 40px;
  width: 14rem;
  margin-top: 0.3rem;
  transition: all 0.2s;
}

.whatsappButton a:hover {
  background-color: #0dcc53;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}